<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="speakerslist maincontent">
        <h1 class="speakerslist-title">Deep Sea Wonders</h1>
        <div class="speakerslist-name">
          with
          <a href="./Hillary_Goldwynn.html">Hilary Goldywynn Post</a>
        </div>
        <p class="speakerslist-info mt-2">
          <a href="./Hillary_Goldwynn.html"> </a>
          <img
            class="speakerslist-img img-fluid"
            src="./images/speakers/Hillary_Goldwynn.jpg"
            alt="Photo of Hilary Goldywynn Post"
          />
        </p>
        <p>
          Hillary is a sophomore art sculpture student at New York University, and has already won
          all the major international prizes for new painters, including the Divinity Circle, the
          International Painter&apos;s Medal, and the Academy of Paris Award. Hillary&apos;s CAC
          exhibit features paintings that contain only water images including waves, deep sea, and
          river.
        </p>
        <p>
          An avid water sports participant, Hillary understands the water in many ways in which
          others do not, or may not ever have the opportunity. Her goal in creating the CAC exhibit
          was to share with others the beauty, power, and flow of natural bodies of water throughout
          the world. In addition to the display, Hilary also hosts a session on Tuesday called Deep
          Sea Wonders, which combines her love of deep sea diving and snorkeling, with instruction
          for capturing the beauty of underwater explorations on canvas.
        </p>
        <p></p>
      </article>
    </div>
    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Artwork on display</h1>
        <p class="sidebar-body">
          While you attend the conference, head over to our gallery where you can check out some of
          the work from our speakers.
        </p>
        <div class="pixgrid clearfix">
          <img src="./images/artwork/Hillary_Goldwynn_01_tn.jpg" alt="Artwork 0" />
          <img src="./images/artwork/Hillary_Goldwynn_02_tn.jpg" alt="Artwork 1" />
          <img src="./images/artwork/Hillary_Goldwynn_03_tn.jpg" alt="Artwork 2" />
          <img src="./images/artwork/Hillary_Goldwynn_04_tn.jpg" alt="Artwork 3" />
          <img src="./images/artwork/Hillary_Goldwynn_05_tn.jpg" alt="Artwork 4" />
          <img src="./images/artwork/Hillary_Goldwynn_06_tn.jpg" alt="Artwork 5" />
          <img src="./images/artwork/Hillary_Goldwynn_07_tn.jpg" alt="Artwork 6" />
        </div>
      </article>
    </aside>
  </div>
</div>
